.opened-container {
  background-color: "#A7AEAE";
}
.inProcess-container {
  background-color: "#D47846";
}
.closed-container {
  background-color: "#6B78D9";
}
.opened-text {
  color: "#A7AEAE";
}
.inProcess-text {
  color: "#D47846";
}
.closed-text {
  color: "#6B78D9";
}
